<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="constantin.telemetry.core">

    <!-- Ground recording -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- For home location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Info about networks (EZ-WB connect via WIFI) -->
    <uses-permission android:name="android.permission.INTERNET" />


    <application>
        <activity
            android:name="constantin.telemetry.core.ASettingsTelemetry"
            android:screenOrientation="behind" />
    </application>

</manifest>