<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="constantin.video.core">
    <!-- Ground recording -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- for transmitter -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity android:name="constantin.video.impl.SimpleVideoActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MyStyleFullscreen">
        </activity>
        <activity
            android:name=".AVideoSettings"
            android:screenOrientation="behind" />

        <activity
            android:name="constantin.video.transmitter.AVideoStream"
            android:screenOrientation="portrait" />
        <activity
            android:name="constantin.video.transmitter.AVideoTransmitterSettings"
            android:screenOrientation="behind" />

    </application>

</manifest>